:root {
  --primary: #fff;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "poppins, sans-serif";
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  border-top: 1px solid darkslategray;
  border-bottom: 1px solid darkslategray;
}

.nav-logo img {
  max-height: 40px;
}

.nav {
  display: flex;
}

.nav-item {
  padding: 2px 1em;
  border: 0.5px solid black;
  min-width: 50px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.nav-item:hover {
  background: lightgray;
}

.greetings {
  padding-top: 2em;
  padding-left: 5em;
}

.banner {
  border-bottom: 1px solid black;
  background-image: url(../assets/fas-img2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

/* Fasilitations Section */
.fasilitations {
  border-bottom: 1px solid black;
  background-image: url(../assets/abstract.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.fasilitations,
.message-us,
.greetings {
  padding: 3em;
}

.fasilitations .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.fasilitations .row .team-card {
  text-align: center;
}

.fasilitations .row .team-card .team-card-title .tag-card {
  margin-top: 1rem auto 1rem;
}

.fasilitations .row .team-card img {
  border-radius: 50%;
  width: 85%;
  align-items: center;
  justify-content: space-around;
}

/* Message Section */
.message-us {
  background-color: rgb(132, 160, 160);
}
.message-us .row {
  display: flex;
  margin-top: 2rem;
  background-color: gray;
}

form button {
  background-color: lightgray;
  width: 31.9%;
  height: 3em;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#container div {
  align-items: center;
  margin: 20px;
  width: 100%;
}

.row-1 {
  height: 200px;
  width: 200px;
}

.row-2 {
  height: 200px;
  width: 200px;
  border: 1px solid black;
}

button:hover,
button:focus {
  background: green;
  outline: 0;
}

/* Media Query */

/* Laptop */
@media screen and (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* Tablet */
@media screen and (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
}

/* Mobile Phone */
@media screen (max-width: 450px) {
  html {
    font-size: 55%;
  }
}

.footer a {
  font-family: "poppins", sans-serif;
  color: rgb(45, 43, 43);
  font-size: 15px;
}
